/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }


body {
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin:0
        
    }

    /*header*/
    

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(255, 255, 255);
    position: relative;
    background: url(/assets/css/images/hojas-header.jpeg) no-repeat center/cover;
    background-position: 100%;
    background-size: cover;
    background-position: center,center;
}

header .logo {
    margin: 0;
    padding: 25px;
    font-weight: bold;
    color: rgb(255, 254, 254);
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 2px 4px rgba(179, 221, 27, 0.1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    justify-content: flex-start;
    
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;


}

header nav {
    display: flex;
    flex-direction:row ;
    justify-content: flex-end;
    margin-right: 10px;
    
}

nav a {
    margin-right: 20px;
    font-size: 1em;
    }



h1 {
    font-size: 2em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 249, 247);
    position: relative;
    text-align: center;
    ;
    
}

h2 {
    font-size: 1em;
    
}

h3 {
    font-size: 1em;
}

ul {
    list-style: none;
}

header a {
    padding: 5px 10 px;
    text-decoration: none;
    font-weight: bold;
    color : rgb(250, 246, 246);
    font-family: cursive;
    
}

header a:hover {
    color: rgb(192, 189, 41);
}

#hero {
    height: 600px;
    width: 100%;
    background: url(/assets/css/images/forest-breath.jpeg) no-repeat center/cover;
    position: relative;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    
}

/*hero*/
#hero h1 {
    color:#e9e9e3;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    padding: auto;
    padding-top: 200px;
    font-size: 1.5rem;
    padding-inline-end: 50%;

    /*main*/
}

#what-is-breathwork {
    text-align: center;
    padding: 20px 0px;
    background-color: rgba(156, 194, 19, 0.1);
    max-width: 100%;


}



#what-is-breathwork  h3 {
    font-size: 2em ;
    padding: 1% 0%;
    text-align: center;
    margin-top: 1px;
    border: 1px solid #ccc;
    background: url(/assets/css/images/footer2.webp) no-repeat center/cover;
    font-weight: 300px;
    color:rgb(247, 247, 244) ;
    font-family:Arial, Helvetica, sans-serif;
       
}

#what-is-breathwork p {
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    width: 80%;
    max-width:fit-content;
    margin: auto;
    line-height: 25px;
    text-align: center;
    padding-top: 5px;
    color: black ;
    flex-direction: row;
    
    }

#img-container {
    text-align: center;
    padding: 200px 0px;

}

#benefits {
    background-color: rgba(156, 194, 19, 0.1); 
}

#benefits h3 {
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 30px 0px;
    justify-content: center;
    text-align: center center;
    

}

#benefits p.font-change {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
    justify-content:center;
    padding-right: 20px;
    margin-right: 20px;
    
   
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid #ccc;
    border-radius: 30px;
    flex-wrap: wrap;

}

.benefits-alkalizing,
.benefits-anti,
.benefits-elevating {
    width: 30%;
    padding-left: 2px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9fef9;
    margin-bottom: 20px;
    margin: 12px;
         
}




.benefits-alkalizing {
    background: url(/assets/css/images/threes.jpg)no-repeat center/cover;
      font-size: 12px;
      color:#f5f5f5;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-position: 60%;
      max-width: 100vw;
      background-image: -o-linear-gradient(rgba(20, 20, 20, 0.5));
     
} 

.benefits-anti {
    background: url(/assets/css/images/breathin-women.webp) no-repeat center/cover;
    font-size: 10px;
    color: rgb(255, 255, 255);
    
}

.benefits-elevating {
    background: url(/assets/css/images/helechos-header.jpeg ) no-repeat center/cover;
    color:antiquewhite;
    font-size: 13px;
    
    
    }

  
/*footer */

footer {
    background: url(/assets/css/images/footer.webp) no-repeat center/cover;
    
}

.social-links {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: style type;;
    font-size: 14px;
    position: relative;
   
}

.social-links i {
font-size: 200%;
padding: 10%;
color: #3a3a3a;


}

/*main-about-breathwork*/

#breathwork-techniques {
    background-color: rgb(100, 128, 113);
    color: white;
    text-align: center;
    background: url(/assets/css/images/footer2.webp) no-repeat center/cover;
    background-position: center center;
    background-size: cover;
    margin: 2px;
    border-top: #ccc;
}

#breathwork-techniques h2 {
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0%;
    padding-bottom: 0;
    text-align: center;
    color: #e9e9e3;
}

#breathwork-techniques .container {
    text-align: center;
    padding: 100px 12px;
}


#breathwork-techniques p {
    display:flexbox;
    flex-wrap: wrap;
}

.techniques h3{
    border-radius: 30px; 
    
    padding: 10px; 
    color: rgb(250, 250, 247);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    flex-direction: column;
    

}
.techniques p {
    border-radius: 30px; 
    
    padding: 10px; 
    color: rgb(250, 250, 247);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    flex-direction: column;
    background-color: #348d64;
    
}


#breathwork-techniques .techquines {
    margin: 20px;
    border-radius: 15px;
}

/*form*/

#signup {
    background: url("/assets/css/images/breathing-meditation.jpeg") no-repeat center/cover;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color:#ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-input {
    background: transparent;
    color: #1a1616;
    border: 1px solid #140303;
    border-radius: 2px;
    width: 25px;
    height: 25px;
    margin: 5px 0 20px 0;
    padding: 0 5 px;
}



.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}


/*open-times*/

#open-time .coontainer {
    background-color: antiquewhite;
}






@media screen and (min-width: 768px){

header {
    position: relative;
    width: 100vw;
    
}

header .container {
    flex-direction: row;
    justify-content:space-between;
    
}

header nav {
    flex-direction: row;
    padding-bottom: 0%;
    padding-right: 30px;
    justify-content: flex end;
}

#hero h1 {
    font-size: 3rem;
    width: 100vw;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

container .logo {

       display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
        gap: 20px; 
    }

#image-container {
    background-position: center center;
    justify-content: center;
    display: flex;
}

#what-is-breathwork p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    font-style: italic;
    width: 80%;
    max-width: 1200px;
    margin: auto;
    line-height: 50px;
    text-align: center;
    padding-top: 5px;
    color: black ;
    flex-direction: row;
    
    }


#benefits .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#benefits h3 {
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 0px;
}

#benefits p.font-change {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2em;
        font-style: italic;
        justify-content: center;
        
       }


.benefits-alkalizing,
.benefits-anti,
.benefits-elevating {
    width: 30%;
    padding-left: 2px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9fef9;
    margin-bottom: 20px;
    margin: 20px;
    flex-wrap: wrap;

}

.benefits-alkalizing h4,
.benefits-anti h4,
.benefits-elevating h4 {
    font-size: 30px;
    margin: auto; 
    font-style:italic;
    color: #f5f5f5;
}

.benefits-alkalizing {
    background: url(/assets/css/images/threes.jpg)no-repeat center/cover;
      font-size: 20px;
      color :#fafafa;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-position: 60%;
      max-width: 100%;
} 

.benefits-anti {
    background: url(/assets/css/images/breathin-women.webp) no-repeat center/cover;
    font-size: 20px;
    color: rgb(255, 255, 255);
    
}

.benefits-elevating {
    background: url(/assets/css/images/helechos-header.jpeg ) no-repeat center/cover;
    color:antiquewhite;
    font-size: 20px;

    
    
    }

#pros-cons {
    background-color: bisque;

}

#pros-cons .container {
    border-radius: 15px;
    text-align: center;
    border-color: #348d64;


}

/*form*/
#signup {
    background-position: center;
    position: relative;
}

#signup-form {
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 150px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.join-button:hover {
    background-color: #fafafa;
    color: #454b1b;
}


/*open-times*/

#open-time .coontainer {
    background-color: antiquewhite;
}


}




@media screen and (min-width: 992px) {
 
}

@media screen and (min-width: 1200px) {

}